@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700|Gloria+Hallelujah|Pacifico&subset=cyrillic);

html, body {
	padding: 0;
	margin: 0;
	height: 100%;
}

a {
	display: inline-block;	
}

* {
	font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
	box-sizing: border-box;
}

.container {
	width: 1000px;
	margin: 0 auto;
}

#page-wrapper{
	padding-top: 310px;
	padding-bottom: 100px;
}

html {
	background: url(../images/backs/back.png);
	/*background: url(../images/backs/all.jpg);*/
}

body {
	min-height: 100%;
}

img {
	max-width: 100%;
}

#page-wrapper {
	background: url(../images/backs/top.jpg);
	background-position: center top;
	background-repeat: no-repeat;
}

body {
	/*background-image: url(../images/backs/bot.jpg);*/
	background-position: center bottom;
	background-repeat: no-repeat;
}

/* Главное меню (верхняя шапка)*/
#primary-menu{
	background: orange;
	height: 75px;
	width: 50%;
	margin: 0 auto;
	position: relative;
	opacity: 0.9;
	}

#primary-menu::before {
	content: " ";
	position: absolute;
	top: -1px;
	left: -74px;
	border: 38px solid transparent;
	border-right-color: orange; 
	border-bottom-color: orange;
}-->

#primary-menu::after {
	content: " ";
	position: absolute;
	top: -1px;
	right: -74px;
	border: 38px solid transparent;
	border-left-color: orange; 
	border-bottom-color: orange;
}

#primary-menu > ul {
	padding: 0;
	margin: 0; 
	font-size: 0;
	overflow: hidden;
	text-align: center;
}

#primary-menu > ul > li {
	display: inline-block;
	list-style: none;
	font-size: 20px;
}

#primary-menu > ul > li a {
	color: #fff;
	text-decoration: none;
	height: 75px;
	line-height: 75px;
	padding: 0 25px;
	position: relative;
	color: #333;
	z-index: 999;
}

#primary-menu > ul > li a:hover {
	color: black;	
}

#primary-menu > ul > li a::before {
	content: " ";
	position: absolute;
	left: -4px;
	top: -25px;
	width: 100%;
	height: 150px;
	transform: rotate(20deg);
	background-color: rgba(255,255,255,1); 
	z-index: -1;
	opacity: 0;
}

#primary-menu > ul > li a:hover::before {
	opacity: 1;
}

/* Подглавное меню (шапка второго уровня)*/
#secondary-menu{
	background: black;
	height: 75px;
	width: 100%;
	margin: 0 auto;
	padding: 0 50px;
	text-align: center;
	border-top-right-radius: 50px;
	border-top-left-radius: 50px;
	}

#secondary-menu > ul {
	display: inline-block;
	padding: 0;
	margin: 0;
	line-height: 40px;
}

#secondary-menu >ul > #logo {
	width: 600px;
	position: relative;
}

#secondary-menu >ul > #logo > img {
	position: absolute;
	width: 450px;
	left: 50px;
	top: -5px;
}

#secondary-menu > ul > li {
	font-size: 20px;
	display: inline-block;
	list-style: none; 
	margin: 20px;
	padding: 0;
}

#secondary-menu > ul > li > a {
	text-decoration: none;
	color: #fff;
}

#secondary-menu > ul > li > a:hover {
	color: orange;
}

/* Слайдер*/

#slider{
	height: 500px;
	overflow: hidden;
	margin-bottom: 0;
}

/* Контент*/
#content, #sidebar {
	float: left;
	padding: 40px;
}

#content-wrapper {
	background-color: #fff;
}

#content {
	width: 75%;
	background-color: white;
}

/* Сайдбар */
#sidebar {
	width: 25%;
	background-color: white;
}

#sidebar > h1 {
	font-family: "Gloria Hallelujah";
	padding: 0;
	margin: 0;
	text-align: center;
	font-size: 20px;
}

#vk_groups{
	padding-top: 40px;
	margin: -20px;
}

.clear {
	clear: both;
}

/*Footer*/
#footer {
	background-color: black;
	padding: 30px;
	text-align: center;
	color: #fff;
	border-bottom-left-radius: 50px;
	border-bottom-right-radius: 50px;

}

#footer  > h1 {
	font-family: "Pacifico";
	font-size: 30px;
}